html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body,
button {
  background: #F4F3F2;
  color: #000;
  font-family: 'Roboto Mono', monospace;
}

::selection {
  background-color: #eb4888;
  color: #000;
}

body.dark-mode,
body.dark-mode button,
body.dark-mode .go-home,
button.dark-mode,
button.dark-mode button {
  background: #17191f;
  color: #fff;
}

button {
  width: 120px;
  height: 30px;
  border: 2px solid #96979c;
  border-radius: 15px;
  box-sizing: border-box;
  color: #96979c;
  font-size: 1rem;
  overflow: auto;
  transition: 0.4s ease all;
}
button:hover {
  background: rgba(150, 151, 156, 0.2);
  cursor: pointer;
}

.container {
  margin: 50px auto;
  padding: 5px 0 10px 0;
  max-width: 675px;
}
@media (max-width: 625px) {
  .container {
    padding: 20px;
  }
}

.space{
  position: relative;
  height: 100px;
}

.header-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-frame {
  width: 350px;
  float: left
}

.header-frame2 {
  width: 350px;
  float: right
}

.go-home {
  position: fixed;
  top: 5px;
  left: 20px;
  padding: 5px 5px 5px 0;
  background: #fff;
  box-sizing: border-box;
}

.dark-mode-toggler {
  position: fixed;
  top: 45px;
  right: 35px;
}
.dark-mode-toggler label {
  position: relative;
}
.dark-mode-toggler input[type='checkbox'] {
  display: none;
}
.dark-mode-toggler input[type='checkbox'] + label::before {
  content: '';
  display: block;
  height: 26px;
  width: 60px;
  background: #eb4888;
  border: 2px solid #96979c;
  border-radius: 15px;
  position: absolute;
  top: 0px;
  left: -65px;
}
.dark-mode-toggler input[type='checkbox'] + label::after {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  background: #96979c;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: -62px;
/*  transition: all 0.0s ease-in; */
}
.dark-mode-toggler input[type='checkbox']:checked + label::before {
  background: #FA8334;
  border: 2px solid #fff;
}
.dark-mode-toggler input[type='checkbox']:checked + label::after {
  left: -28px;
  background: #000;
  border: 2px solid #fff;
}

h1 {
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #96979c;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

a {
  color: #96979c;
}
a:hover {
  font-weight: bold;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 3px solid #000;
}

tbody tr:not(:last-child) {
  border-bottom: 2px solid #96979c;
}

tr td:nth-child(1) {
  padding: 20px;
  padding-left: 0;
  font-weight: bold;
}

tr td:nth-child(2) {
  text-align: right;
}

.img-frame {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 0 10px 0;
  border-radius: 50%;
  overflow: hidden;
  float: right;
}

.img-frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

.img-frame-temp img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

.img-frame2 {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 20px 10px 0;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.img-frame2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

.links {
  margin: 25px 0;
}
.links a:not(:last-child) {
  padding: 0 12px 0 0;
}

.text-blurb {
  margin: 30px 0;
  line-height: 2em;
}

.text-blurb span {
  color: #eb4888;
}

.text-blurb span.green {
  color: #24d05a;
}

.text-blurb span.blue {
  color: #00adef;
}

.text-blurb span.orange {
  color: #FA8334;
}

.text-blurb span.yellow {
  color: #e9bc3f;
}

.text-blurb .issue-links {
  text-align: center;
}

@media (max-width: 625px) {
  .links {
    text-align: center;
  }
}

.toggler {
  margin: 25px 0;
}
.toggler .show {
  border-color: #eb4888;
  color: #eb4888;
}
@media (max-width: 625px) {
  .toggler {
    text-align: center;
  }
  .toggler button {
    margin: 5px;
  }
}

.bio {
  display: none;
  line-height: 24px;
}
.bio.show {
  display: block;
}

.bio span {
  color: #eb4888;
}

.bio span.green {
  color: #24d05a;
}

.bio span.blue {
  color: #00adef;
}

.bio span.orange {
  color: #FA8334;
}


* {
  box-sizing: border-box;
}

$max-img-width: 700px;


* {
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

.centered{
  text-align: center;
}


.gallery {
  display: flex;
  margin: 10px auto;
  width: auto;
  max-height: 800px;
  position: relative;
  float: center;
  padding-top: 66.6666666667%;
}

@media screen and (min-width: 675px) {
  .gallery {
    padding-top: 0px;
  }
}

.gallery__img {
  position: absolute;
  max-height: 550px;
  
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__thumb {
  width: 121px;
  height: 121px;
  padding-top: 6px;
  margin: 6px;
  display: block;
}

.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.gallery__selector:checked + .gallery__img {
  opacity: 1;
}

.gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 0px #0be2f6;
}